@media (min-width: 1440px) {
  .content  {
    margin-left: 310px;
  }
  .photo-price__text {    
    margin-bottom: 89px;    
    font-size: 20px;
    
  }

  .photo-price__package {
    display: flex;
    flex-direction: column;
    margin-bottom: 129px;
  }
}


@media (max-width: 970px) {
  .header-quote {
    right: calc(-87px + 117 * (100vw / 970));
    width: 500px;
  }  

  .permission-to-publish h3 {
    line-height: 20px;
    padding-bottom: 15px;
  }

  .results-storage h3 {
    line-height: 20px;
    padding-bottom: 25px;
  }

  .transporting h3 {
    line-height: 20px;
    padding-bottom: 15px;
  }
}

@media (min-width: 800px) {
  .title-wrapper {
    display: none;
  }
  .main-menu__inner {
    display: flex;
  }
}

@media (max-width: 799px) {
  .main-menu__inner {
    display: none;
  }

  .main-menu {
    width: 100vw;    
    height: 50px;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4; 
  }

  .content {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  .header {
    background-image: url('../img/header-bck-800px.jpg');
   }

  .main-menu__title {
    display: none;   
  }

  .active_nav {
    display: flex;
    height: 440px;
    align-items: flex-start;
    z-index: 4;
    
  }

  .active_nav .title-wrapper {
    padding-bottom: 14px;
    margin-bottom: 55px;
    border-bottom: 1px solid #AA8D78;
  }

  .active_nav .main-menu__list-menu  {
    margin-left: 0;
  }

  .header {
    display: flex;
    align-items: end;
    justify-content: center;
  }

  .header-quote {
    position: static;
    margin-bottom: 20px;
    padding: 10px 5px 10px 10px;
    box-sizing: border-box;
  }

  .package__content-title {
    padding: 0 5px 10px 5px;
  }

  .contact {
    flex-direction: column;
    align-items: center;
  }

  .img-right {
    display: none;
  }

  .img-bottom img {
    height: auto;
    width: calc(250px + (503 - 250) * ((100vw - 370px) / (799 - 370)));  
    min-width: 350px;  
  }

  .additional-services__list-item label::after {      
    position: sticky;
    display: block;
    width: calc(70px + (100 - 70) * ((100vw - 722px) / (1440 - 722)));
    font-size: calc(16px + (18 - 16) * ((100vw - 722px) / (1440 - 722)));    
    min-width: 70px;
  }
  .results-storage__radio-item label::after {
    width: calc(70px + (100 - 70) * ((100vw - 722px) / (1440 - 722)));
    font-size: calc(16px + (18 - 16) * ((100vw - 722px) / (1440 - 722)));
    position: sticky;
    display: block;
    min-width: 70px;    
  }
  .transporting__list-item label::after {
    width: calc(70px + (100 - 70) * ((100vw - 722px) / (1440 - 722)));
    font-size: calc(16px + (18 - 16) * ((100vw - 722px) / (1440 - 722)));
    position: sticky;
    display: block;
    min-width: 70px;
  }

  .permission-to-publish__list-item label::after {
    width: calc(70px + (100 - 70) * ((100vw - 722px) / (1440 - 722)));
    font-size: calc(16px + (18 - 16) * ((100vw - 722px) / (1440 - 722)));
    position: sticky;
    display: block;
    min-width: 70px;
  }
  

}

@media (max-width: 639px)  {
  .header {
    background-image: url('../img/header-bck-670px.jpg');
   } 

  .package__container  {
    position: relative;
    display: block;
  }

  .photo-price__package {
    display: block;
  }

  .package__photo {
    min-height: 299px;
    min-width: 211px;
  }
  .package__content {
    margin: auto;
    text-align: center;
  }
  .package__content-services {
    text-align: center;
    margin-right: auto;
  }
  .standart .package__photo {
    margin: 0 0 0 auto;
  }

  .standart .package__content  {
    margin-right: 0;
    margin-left: 0;
    text-align: center;
  }

  .standart .package__content-services {
    text-align: center;
    margin-left: 0;
  }

  .contact__content {
    align-items: center;
  }

  .photo-price__title-container{
    padding-left: 0;
  }

  .contact__phone  {
    padding-left: 0;
  }

  .contact__vk  {
    margin-top: 30px;
  }
  .form-title {
    font-size: calc(25px + (35 - 25) * ((100vw - 370px) / (639 - 370)));
    line-height: calc(40px + (69 - 40) * ((100vw - 370px) / (639 - 370)));
    margin-bottom: calc(10px + (60 - 10) * ((100vw - 370px) / (800 - 370)));
  }
  .order-form__value h3 {
    line-height: calc(25px + (69 - 25) * ((100vw - 370px) / (800 - 370)));
  } 
}

@media (max-width: 440px) {
  .standart::before {
    width: calc(60px + 65 * (100vw / 1440));
  }
  .mini::after {
    width: calc(60px + 65 * (100vw / 1440));
  }
  .full-day::after {
    width: calc(60px + 65 * (100vw / 1440));
  }
}
