<form class="order-form__value" action="" method="post" novalidate>
  <div class="close-form">X</div>
    <h2 class="form-title">{{ title }}</h2>
      {{ form.hidden_tag() }}
      <h3>В ваш свадебный пакет включено</h3>
      <div class="order-form__whatinclusive">
        <ul class="whatinclusive-list">
          {% for service in base_add %}
            <li class="whatinclusive-item">
              {{ service }}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="additional-services">
        <h3 class="additional-services__title">Дополнительные услуги</h3>
        <ul class="additional-services__list">

          {% for service in add_serv %}
            <li class="additional-services__list-item">
              {{ form[service](onchange="checkbox_click(this)", data_price=add_prices[form[service].id]) }}
              {{ form[service].label(data_textprice='+ ' + add_prices[form[service].id]|string + ' ₽') }}
            </li>
          {% endfor %}

        </ul>
      </div>
      <div class="results-storage">
        <h3 class="results-storage__title">Хранение ваших материалов на файлообменнике</h3>
        <p class="results-storage__text">(Мы не гарантируем длительное хранение ваших материалов, поэтому рекомендуем выбрать "бессрочное хранение")</p>
        <ul class="results-storage__radio-list">
          {% for subfield in form.result_storage %}
            <li class="results-storage__radio-item">
              <p>{{ subfield(onchange="radio_click(this)", data_price=storage[subfield.id[-1]][1]) }} {{ subfield.label(data_textprice='+ ' + storage[subfield.id[-1]][1]|string + ' ₽') }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="transporting">
        <h3 class="transporting__title">На чем перемещается фотограф с места на место?</h3>
        <ul class="transporting__list">
          {% for subfield in form.transporting %}
            <li class="transporting__list-item">
              <p>{{ subfield(onchange="radio_click(this)", data_price=transporting[subfield.id[-1]][1]) }} {{ subfield.label(data_textprice='+ ' + transporting[subfield.id[-1]][1]|string + ' ₽') }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="permission-to-publish">
        <h3 class="permission-to-publish__title">Разрешение на публикацию фотографий в сети Интернет</h3>
        <ul class="permission-to-publish__list">
          {% for subfield in form.permission_to_publish %}
          <li class="permission-to-publish__list-item">
            <p>{{ subfield(onchange="radio_click(this)", data_price=publish[subfield.id[-1]][1]) }} {{ subfield.label(data_textprice='+ ' + publish[subfield.id[-1]][1]|string + ' ₽') }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="result-container">        
        <div class="result__price">Итоговая стоимость: <p>{{ base_price }}</p> ₽</div>
      </div>
      {{ form.username.label(class_='personal-data') }}
      {{ form.username(class_='form-input', placeholder_='Ваше имя', inputmode="text") }}
      {{ form.phone.label(class_='personal-data') }}
      {{ form.phone(class_='form-input', placeholder_='Ваш телефон', inputmode="tel") }}
      {{ form.wedding_date.label(class_='personal-data') }}
      {{ form.wedding_date(class_='form-input', inputmode="date") }}
      {{ form.comments.label(class_='personal-data') }}
      {{ form.comments(class_='order-comments', placeholder_="Комментарий к заказу", inputmode="text") }}
      {{ form.hidden_price }}
      {{ form.submit(class_='form-button') }}
      
      

</form>


<script>
  radio_list = document.querySelectorAll('input[type=radio]')
  storage_price_old = Number
  transport_price_old = Number
  publish_price_old = Number
  for (const key in radio_list) {
    if (Object.hasOwnProperty.call(radio_list, key)) {
      radio = radio_list[key]
      if (radio.id.includes('storage') && radio.checked) {        
        storage_price_old = Number(radio.dataset.price)
      } else if (radio.id.includes('transporting') && radio.checked) {        
        transport_price_old = Number(radio.dataset.price)
      } else if (radio.id.includes('publish') && radio.checked) {       
        publish_price_old = Number(radio.dataset.price)
      }       
    }
  }

</script>
