<form class="order-form__value" action="" method="post" novalidate>
    <h2 class="form-title">{{ title }}</h2>
      {{ form.hidden_tag() }}
      <h3>В ваш свадебный пакет включено</h3>
      <div class="order-form__whatinclusive">
        <ul class="whatinclusive-list">
          {% for service in base_add %}
            <li class="whatinclusive-item">
              {{ service }}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="additional-services">
        <h3 class="additional-services__title">Дополнительные услуги</h3>
        <ul class="additional-services__list">

          {% for service in add_serv %}
            <li class="additional-services__list-item">
              {{ form[service](data_price=add_prices[form[service].id]) }}
              {{ form[service].label }}
            </li>
          {% endfor %}

        </ul>
      </div>
      <div class="results-storage">
        <h3 class="results-storage__title">Хранение ваших материалов на файлообменнике</h3>
        <p class="results-storage__text">(Мы не гарантируем длительное хранение ваших материалов, поэтому рекомендуем выбрать "бессрочное хранение")</p>
        <ul class="results-storage__radio-list">
          {% for subfield in form.result_storage %}
            <li class="results-storage__radio-item">
              <p>{{ subfield }} {{ subfield.label }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="transporting">
        <h3 class="transporting__title">На чем перемещается фотограф с места на место?</h3>
        <ul class="transporting__list">
          {% for subfield in form.transporting %}
            <li class="transporting__list-item">
              <p>{{ subfield }} {{ subfield.label }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="permission-to-publish">
        <h3 class="permission-to-publish__title">Разрешение на публикацию фотографий в сети Интернет</h3>
        <ul class="permission-to-publish__list">
          {% for subfield in form.permission_to_publish %}
          <li class="permission-to-publish__list-item">
            <p>{{ subfield }} {{ subfield.label }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
      {{ form.username.label(class_='personal-data') }}
      {{ form.username(class_='form-input', placeholder_='Ваше имя') }}
      {{ form.phone.label(class_='personal-data') }}
      {{ form.phone(class_='form-input', placeholder_='Ваш телефон') }}
      {{ form.wedding_date.label(class_='personal-data') }}
      {{ form.wedding_date(class_='form-input') }}
      {{ form.comments.label(class_='personal-data') }}
      {{ form.comments(class_='order-comments', placeholder_="Комментарий к заказу") }}
      {{ form.submit(class_='form-button') }}
</form>
<div class="close-form">X</div>
